# Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive 

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [4]:
! pip install pyhive thrift

Requirement already satisfied: pyhive in /usr/local/lib/python3.7/dist-packages (0.6.5)
Collecting thrift
  Downloading thrift-0.16.0.tar.gz (59 kB)
     |████████████████████████████████| 59 kB 5.5 MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyhive) (0.16.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from pyhive) (2.8.2)
Requirement already satisfied: six>=1.7.2 in /usr/local/lib/python3.7/dist-packages (from thrift) (1.15.0)
Building wheels for collected packages: thrift
  Building wheel for thrift (setup.py) ... done
  Created wheel for thrift: filename=thrift-0.16.0-cp37-cp37m-linux_x86_64.whl size=348307 sha256=74ef6420dc6ddc83100711c82f42b85f11e9ff916210366215805afddd83994b
  Stored in directory: /root/.cache/pip/wheels/e6/d0/8c/11a1840ef59493f9221d13748a29482323f13f6da6b236c3de
Successfully built thrift
Installing collected packages: thrift
Successfully installed thrift-0.16.0

In [5]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [ ]:
# try to connect
server="ec2-63-34-10-95.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [ ]:
#show our databases
cursor.execute('show databases')

In [ ]:
#get data from execution
cursor.fetchall()

[('default',)]

In [ ]:
#use default db
cursor.execute('use default')

In [ ]:
#show tables in db
cursor.execute('show tables')

In [ ]:
cursor.fetchall()

[('employee',), ('salary',)]

In [ ]:
# get table layout
cursor.execute('describe employee')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('birthday', 'date', ''),
 ('first_name', 'string', ''),
 ('family_name', 'string', ''),
 ('gender', 'char(1)', ''),
 ('work_day', 'date', '')]

In [ ]:
#select data
cursor.execute('select * from employee')

In [ ]:
#get daata from selction
employee = cursor.fetchall()

In [ ]:
#have a look
employee[:10]

[(10001, None, "'Georgi'", "'Facello'", "'", None),
 (10002, None, "'Bezalel'", "'Simmel'", "'", None),
 (10003, None, "'Parto'", "'Bamford'", "'", None),
 (10004, None, "'Chirstian'", "'Koblick'", "'", None),
 (10005, None, "'Kyoichi'", "'Maliniak'", "'", None),
 (10006, None, "'Anneke'", "'Preusig'", "'", None),
 (10007, None, "'Tzvetan'", "'Zielinski'", "'", None),
 (10008, None, "'Saniya'", "'Kalloufi'", "'", None),
 (10009, None, "'Sumant'", "'Peac'", "'", None),
 (10010, None, "'Duangkaew'", "'Piveteau'", "'", None)]

In [ ]:
# get salary table layout
cursor.execute('describe salary')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('salary', 'int', ''),
 ('start_date', 'date', ''),
 ('end_date', 'date', '')]

In [ ]:
#select data
cursor.execute('select * from salary')

In [ ]:
#get daata from selction
salary = cursor.fetchall()

In [ ]:
salary[:10]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [ ]:
cursor.execute(" ")

In [ ]:
cursor.fetchall()

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [ ]:
cursor.execute(" ")
data=cursor.fetchall()

## Ex 3
Get the average salary by gender. Hint: use Group by

In [ ]:
cursor.execute(" ")
cursor.fetchall()